@model List<User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex_col_c">
    <div style="width: max-content; align-self: center">
        <form method="post" action="~/Home/AddUser">
            <div class="flex_col_c">
                <input type="hidden" name="Id" />
                <table style="text-align: right">
                    <tr>
                        <td><label>Имя пользователя:</label></td>
                        <td><input required type="text" name="Name" /></td>
                    </tr>
                    <tr>
                        <td><label>Логин:</label></td>
                        <td><input required type="text" name="Login" /></td>
                    </tr>
                    <tr>
                        <td><label>Пароль:</label></td>
                        <td><input required type="password" name="Password" /></td>
                    </tr>
                </table>

                <input type="submit" value="Добавить" />
            </div>
        </form>
    </div>
    @if (Model != null)
    {
        <div class="flex_row_c" style="margin-top: 30px;">
            <table border="1">
                <tr>
                    <th>Имя пользователя</th>
                    <th>Логин</th>
                    <th>Пароль</th>
                </tr>

                @foreach (User user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        <td>@user.Login</td>
                        <td>@user.Password</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
